* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;
}

header {
    font-size: 30px;
    text-align: center;
    margin: 0 0 50px 0;
    color: rgb(231, 193, 2);
    text-shadow: 3px 1px black;
}

body {
    background-image: linear-gradient(to right, #262626, #494949, #606060);
    margin: 5% 5%;
}

/*Navigaatio*/
.navigaatio{
	background-color: rgb(231, 193, 2);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.navigaatio:hover, .navigaatio:focus{
	background-color: #2980B9;
}
.nav{
	 text-align: center;
    margin: 0 0 50px 0;
    color: rgb(231, 193, 2);
	position: relative;
  	display: inline-block;
}
.valikko{
	display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.valikko a{
	 color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;	
}
.valikko a:hover {background-color: rgb(231, 193, 2);}
.show{display:block}

main {
    text-align: center;
    margin: 0 0 50px 0;
    color: rgb(231, 193, 2);
    text-shadow: 3px 1px black;
}


#taulukko {
    text-align: center;
    padding-left: 25%;
    background: black;
}

#taulukko {
    background: #606060;
}


#Elokuva {
    font-size: 20px;
    text-align: left;
}

#paikka {
    font-size: 15px;
    text-align: center;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
	text-align: center;
	padding-bottom: 20px;
    color: rgb(231, 193, 2);
    
}
