/* Yleiset muokkaukset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Courier New', Courier, monospace;
}

header {
    font-size: 30px;
    text-align: center;
    margin: 0 0 50px 0;
    color: rgb(231, 193, 2);
    text-shadow: 3px 1px black;
}

body {
    background-image: linear-gradient(to right, #262626, #494949, #606060);
    margin: 5% 5%;
}

/* Ohjeiden muokkaus*/
.ohjeet {
    text-align: center;
    color: rgb(231, 193, 2);
    padding-bottom: 20px;
    font-size: 20px;
}


/* Elokuvasali listauksen muokkaamista */
#ElokuvasaLista {
	text-align: center;
	color: rgb(231, 193, 2);
	font-size: 25px;
}

/* Muokataan taulukkoa */
#taulukko {
    text-align: center;
	font-size: 25px;
	font-style: oblique;
	font-family: 'Courier New', Courier, monospace;
    padding-left: 30%;
    color: rgb(231, 193, 2);
}

#Elokuva {
    font-size: 20px;
    text-align: left;
}

#paikka {
    font-size: 15px;
    text-align: center;
}

#otsikko {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#sali {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Footeri */
footer {
    margin-top: 35%;
    left: 0;
    bottom: 0;
    width: 100%;
	text-align: center;
	padding-bottom: 20px;
    color: rgb(231, 193, 2);
    
}

